.borrowed-book {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.borrowed-book .book {
    display: flex;
    gap: 1rem;
}

.book-image {
    height: 100%;
}

.book-image img {
    height: 100%;
    width: 100px;
}


.book-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#delete-btn,#edit-btn{
    padding: 0.3rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s ease-out;
}

#delete-btn{
    border: red 1px solid;
    color: red;
}

#edit-btn{
    border: blue 1px solid;
    color: blue;
}

#edit-btn:hover{
    background-color: blue;
    color: #fff;
}








